font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*header styling*/
.header-section {
  background-color: #efd3f9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lasunlogo {
  justify-content: flex-start;
  width: 23%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(50, 11, 63);
  font-size: 24px;
  text-align: center;
}

button {
  margin-inline: 30px;
  padding: 15px;
}

a {
  text-decoration: none;
}

.header-contact a {
  color: #fff;
}

.other-buttons {
  background-color: #efd3f9;
  border-style: none;
}

.other-buttons a {
  color: rgb(50, 11, 63);
}

.header-contact {
  background-color: rgb(50, 11, 63);
  border: solid;
  border-color: rgb(50, 11, 63);
  border-radius: 8px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.box1 {
  background-color: #efd3f9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 20px;
  height: 500px;
  color: rgb(50, 11, 63);
}

.box1a {
  display: inline;
  font-size: 24px;
  width: 30%;
  padding-bottom: 20px;
  padding-left: 60px;
  font-weight: 300;
}

.box1a p {
  font-size: 22px;
  font-weight: 400;
}

.box1a a {
  color: rgb(50, 11, 63);
}

#trade-button {
  background-color: rgb(50, 11, 63);
  border: solid;
  border-color: rgb(50, 11, 63);
  border-radius: 7px;
  margin: 20px 0px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trade-button a {
  color: #fff;
  font-size: 18px;
}

h2,
.box1b p,
h3 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

/* middle box with shadow */
.box1b {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 470px;
  overflow: hidden;
  border: 1px solid rgb(203, 182, 212);
  box-shadow: 0px -0.5px 5px 0.5px rgba(26, 25, 25, 0.3);
}

/* slant box */
.box1bi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 11, 63);
  border: rgb(50, 11, 63);
  width: 200px;
  height: 85px;
  color: #fff;
  transform: skew(-45deg, 45deg);
  margin-left: 50%;
  font-size: 12px;
  translate: 10px -17px;
}

.box1bii {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 0.9;
  height: 275px;
  font-size: 24px;
  font-weight: 900;
}

.box1biii {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(50, 11, 63);
  border: rgb(50, 11, 63);
  height: 100px;
  font-size: 20px;
  width: 300px;
  translate: -30px 0px;
}

.box1biii a {
  color: #fff;
}

.box1c {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.orange-box {
  background-color: rgb(241, 220, 176);
}

.box2,
.box3,
.box4,
.box5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: rgb(50, 11, 63);
}

.box2a,
.box3b,
.box4a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 450px;
}

.vision-review {
  background-color: #efd3f9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 5% 20px 5%;
  color: rgb(50, 11, 63);
}

.vision {
  display: inline;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
}

.review {
  text-align: center;
  background-color: #efd3f9;
}

.box6 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box6a,
.box6b {
  display: inline;
  border: 2px solid rgb(50, 11, 63);
  border-radius: 10px;
  padding: 20px;
  width: 540px;
  height: 160px;
}

.box7 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  padding-block: 20px;
  color: rgb(50, 11, 63);
  align-items: first baseline;
}

.box7 a {
  color: rgb(50, 11, 63);
}

.box7a {
  display: inline;
  font-size: 30px;
  align-items: center;
}

#click-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(50, 11, 63);
  border: solid;
  border-color: rgb(50, 11, 63);
  border-radius: 5px;
  margin: 10px 0px;
  height: 45px;
  width: 90px;
  font-size: 20px;
}

#click-button a {
  color: #fff;
}

.box7b {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box7bi,
.box7bii,
.box7biii {
  line-height: 1px;
  padding-block: 10px;
}

.box7bii img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.box7c {
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: rgb(50, 11, 63);
}

.footer-logo {
  display: flex;
  justify-content: center;
  background-color: #efd3f9;
  padding: 8px 0;
}

.footer-buttons {
  background-color: #fff;
  border-style: none;
  text-align: left;
}

/* colored texts styling */
.orange-text {
  color: #f7931a;
}

.blue-text {
  color: rgb(42, 50, 121);
}

.green-text {
  color: rgb(12, 151, 58);
}

.black-text {
  color: #333;
}

/* hover styling */
a:hover {
  color: #f7931a;
}

.header-contact:hover,
.box1biii:hover {
  border: 3px rgb(50, 11, 63) solid;
  background-color: #efd3f9;
}

.header-contact:hover a,
#click-button:hover a,
#trade-button:hover a,
.box1biii:hover a {
  color: #f7931a;
}

#click-button:hover {
  border: 2px rgb(50, 11, 63) solid;
  background-color: #fff;
}

#trade-button:hover {
  background-color: #efd3f9;
  border: 1px solid rgb(203, 182, 212);
  box-shadow: 0px -0.5px 5px 0.5px rgba(26, 25, 25, 0.3);
}

@media only screen and (max-width: 440px) and (min-width: 320px) {
  .header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #efd3f9;
    max-width: 100%;
  }

  .lasunlogo {
    justify-content: center;
    width: 180px;
    align-content: center;
    margin: 5px 5px;
  }

  .header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #efd3f9;
    width: 100px;
    color: rgb(50, 11, 63);
    font-size: 16px;
    text-align: center;
    padding: auto;
  }

  .header-contact {
    background-color: rgb(50, 11, 63);
    border: solid;
    border-color: rgb(50, 11, 63);
    border-radius: 5px;
  }

  .box1 {
    background-color: #efd3f9;
    display: block;
    padding: 0px auto;
    color: rgb(50, 11, 63);
    max-width: 100%;
    height: 100%;
  }

  button {
    margin-inline: 0px auto;
    padding: 2px;
  }

  .box1b {
    display: block;
    text-align: center;
    width: 300px;
    height: 470px;
    margin: auto;
    overflow: hidden;
    border: 1px solid rgb(203, 182, 212);
    box-shadow: 0px -0.5px 5px 0.5px rgba(26, 25, 25, 0.3);
  }

  .box1bi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 11, 63);
    border: rgb(50, 11, 63);
    width: 190px;
    height: 85px;
    color: #fff;
    transform: skew(-45deg, 45deg);
    margin-left: 52%;
    font-size: 12px;
    translate: -10x -10px;
  }

  .box1biii {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(50, 11, 63);
    border: rgb(50, 11, 63);
    height: 80px;
    font-size: 20px;
    width: 300px;
    translate: 0px -10px;
  }

  .box1c {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: auto;
    padding-block: 20px;
  }

  .orange-box {
    background-color: rgb(241, 220, 176);
    max-width: 100%;
  }

  .box2,
  .box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(50, 11, 63);
  }

  .box2a,
  .box4a {
    padding: 0px 5px;
    width: 300px;
    text-align: left;
  }

  .box2b,
  .box4b {
    margin: 10px auto;
    justify-content: center;
    align-content: center;
  }

  .box3,
  .box5 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    color: rgb(50, 11, 63);
  }

  .box3a,
  .box5a {
    margin: 10px auto;
    justify-content: center;
    align-content: center;
  }

  .box3b,
  .box5b {
    padding: 0px 50px;
    width: 300px;
    text-align: left;
  }

  .vision-review {
    background-color: #efd3f9;
    max-width: 100%;
  }

  .vision {
    display: inline;
    text-align: left;
    font-size: 20px;
    padding: 0 auto;
    width: 300px;
  }

  .box6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 480px;
  }

  .box6a,
  .box6b {
    display: inline;
    border: 2px solid rgb(50, 11, 63);
    margin: auto;
    border-radius: 10px;
    height: 190px;
    width: 300px;
    text-align: center;
    padding: 10px;
  }

  .box7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    padding-block: 20px;
    color: rgb(50, 11, 63);
    align-items: first baseline;
  }

  .box7a {
    display: inline;
    justify-content: flex-start;
    font-size: 20px;
    align-items: center;
    width: 140px;
    height: 140px;
  }

  .box7b {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
  }

  .box7c {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding: 15px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: rgb(50, 11, 63);
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 760px) {
  .lasunlogo {
    justify-content: flex-start;
    width: 180px;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(50, 11, 63);
    font-size: 22px;
    text-align: center;
    width: 450px;
  }

  button {
    margin-inline: 10px;
    padding: 5px;
  }

  .box1 {
    background-color: #efd3f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
    height: 500px;
    color: rgb(50, 11, 63);
    margin: auto;
  }

  .box1a {
    display: inline;
    font-size: 20px;
    width: 200px;
    padding-bottom: 20px;
    padding: 5px;
    font-weight: 400;
  }

  .box1a p {
    font-weight: 300;
    font-size: 20px;
  }

  .box1b {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220px;
    height: 470px;
    overflow: hidden;
    border: 1px solid rgb(203, 182, 212);
    box-shadow: 0px -0.5px 5px 0.5px rgba(26, 25, 25, 0.3);
  }

  .box1bi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 11, 63);
    border: rgb(50, 11, 63);
    width: 200px;
    height: 85px;
    color: #fff;
    transform: skew(-45deg, 45deg);
    margin-left: 32%;
    font-size: 12px;
    translate: 10px -17px;
  }

  .box1biii {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(50, 11, 63);
    border: rgb(50, 11, 63);
    height: 90px;
    font-size: 20px;
    width: 220px;
    translate: -10px 0px;
  }

  .box1c {
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
  }

  .box2a,
  .box4a {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 300px;
    padding: 10px;
  }

  .box3b,
  .box5b {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 300px;
    padding: 10px;
  }

  .box6a,
  .box6b {
    display: inline;
    border: 2px solid rgb(50, 11, 63);
    margin: auto;
    border-radius: 10px;
    height: 190px;
    width: 300px;
    text-align: center;
    padding: 10px;
  }
}
