/*header styling*/
.header-section {
  background-color: rgb(250, 209, 249);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0 5px 0;
}

.header-anchor {
  background-color: rgb(7, 66, 7);
  border: solid;
  border-color: rgb(7, 66, 7);
  border-radius: 5px;
  display: inline;
}

.header-nav {
  color: rgb(7, 66, 7);
}

.box1 {
  background-color: rgb(250, 209, 249);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 180px 20px 180px;
}

.box1a {
  width: calc(box1-60%);
  display: inline;
}

.box1b {
  width: calc(box1-60%);
  display: inline;
}

.box1c {
  width: calc(box1-60%);
  display: inline;
}

.box2 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box3 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box4 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box5 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vision-review {
  background-color: rgb(250, 209, 249);
  padding: 5px 0px 20px 310px;
}

.vision {
  background-color: rgb(250, 209, 249);
  text-align: left;
  font-size: 20px;
}

.review {
  text-align: center;
  background-color: rgb(250, 209, 249);
}

.box6 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box6a {
  display: inline;
  border: 1px solid rgb(76, 5, 104);
  border-radius: 10px;
}

.box6b {
  display: inline;
  border: 1px solid rgb(152, 7, 209);
  border-radius: 10px;
}

footer {
    background-color: rgb(209, 212, 250);
}

.box7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box7a {
    display: inline;
    font-size: 20px;
    
}

.box7b {
    display: flex;
    flex-direction: column;
}

.box7c {
    display: flex;
    flex-direction: column;


}

.copyright {
  text-align: center;
  background-color: rgb(209, 212, 250);
}

.footer-logo {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 209, 249);
    padding: 5px 0 5px 0; 
}