/*header styling*/
.header-section {
  background-color: rgb(250, 209, 249);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.lasunlogo {
  justify-content: flex-start;
  width: 35%;
}

.header-contact {
  background-color: rgb(76, 5, 104);
  border: solid;
  border-color: rgb(76, 5, 104);
  border-radius: 5px;
  display: inline;
}

.header-nav {
  display: flex;
  justify-content: flex-end
  color: rgb(35, 3, 48);
  font-size: 24px;
  text-align: center;
}

.box1 {
  background-color: rgb(250, 209, 249);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.box1a {
  display: inline;
  font-size: 24px;
  width: 30%;
  padding-bottom: 20px;
  padding-left: 20px;
}

.box1b {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.box1bi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 5, 104);
  border-color: rgb(76, 5, 104);
   height: 25%;
}

.box1bii {
  display: inline;
}

.box1biii {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 5, 104);
  border-color: rgb(76, 5, 104);
  height: 25%;
  font-size: 20px;
}

.box1c {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.box2 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box3 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box4 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box5 {
  background-color: rgb(241, 220, 176);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vision-review {
  background-color: rgb(250, 209, 249);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 5% 20px 5%;
}

.vision {
  display: inline;
  text-align: center;
  font-size: 20px;
  padding: 0 5% 0 5%;
}

.review {
  text-align: center;
  background-color: rgb(250, 209, 249);

}

.box6 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box6a {
  display: inline;
  border: 2px solid rgb(76, 5, 104);
  border-radius: 10px;
  padding: 0px 5px 30px 5px
}

.box6b {
  display: inline;
  border: 2px solid rgb(76, 5, 104);
  border-radius: 10px;
  padding: 0px 5px 30px 5px
}

footer {
  background-color: rgb(238, 238, 248);
}

.box7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box7a {
  display: inline;
  font-size: 20px;
}

.box7b {
  display: flex;
  flex-direction: column;
}

.box7c {
  display: flex;
  flex-direction: column;
}

.copyright {
  text-align: center;
  background-color: rgb(238, 238, 248);
}

.footer-logo {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 209, 249);
  padding: 5px 0 5px 0;
}
